.file-list {
  width: 350px;
}

.file-list ul {
  list-style-type: none;
}

.file-list ul li {
  border: 1px solid #BDBDBD;
  background-color: #FF5252;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
}

.file-list ul li button {
  border: none;
  outline: 0;
  background: transparent;
  width: 100%;
  height: 100%;
}

.file-list ul li:hover {
  transform:scale(1.05);
}