.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  background-color: #FF5252;
  align-items: center;
}

.header .brand {
  font-size: 36px;
  margin-left: 5px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  margin-right: 15px;
}

.header button {
  background-color: transparent;
  border: 1px solid #BDBDBD;
  font-size: 20px;
  cursor: pointer;
}